apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio
  namespace: platform
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minio
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: quay.io/minio/minio:latest
        command:
        - /bin/sh
        - -c
        - minio server /data --console-address ":9001" --region us-east-1
        ports:
        - containerPort: 9000
        - containerPort: 9001
        env:
          - name: MINIO_ROOT_USER
            valueFrom:
              secretKeyRef:
                name: minio-creds
                key: username
          - name: MINIO_ROOT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: minio-creds
                key: password
          - name: MINIO_REGION_NAME
            value: us-east-1
        volumeMounts:
        - name: minio-storage
          mountPath: /data
      volumes:
      - name: minio-storage
        persistentVolumeClaim:
          claimName: minio-pvc